{% extends 'base.html' %}
{% block title %}Listagem de Dados{% endblock %}
{% block main %}
    <br>
    <br>

    <div class="panel-body">
    <div class="panel-heading">
        <h3 class="navbar h1 text-white" style="background-color: #2F4F2F;">Histórico</h3>
    </div>
        <div class="shadow p-3 mb-5 bg-white rounded">
    <form method="get" class="form-inline my-2 my-lg-0"  style="text-align: center; margin-top: 100px">
        <h1 class="navbar h1 " >De:</h1>
        <input type="date" name="dtinicial">
        <h1 class="navbar h1 " >Até:</h1>
        <input type="date" name="dtfinal">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
    </form>
    </div>
    </div>
    <br>
    <div class="row">
        <table class="table table-hover">
        <caption>Histórico de Registros</caption>
            <thead>
            <tr>
                {#                <th scope="row">#</th>#}
                <th scope="col">Nome</th>
                <th scope="col">Matricula</th>
                <th scope="col">Entregou</th>
                <th scope="col">Data Retirada</th>
                <th scope="col">Data Entrega</th>
                <th scope="col">Recebeu</th>
                <th scope="col">Status Equip.</th>
                <th scope="col">Observação</th>
            </tr>
            </thead>
            <tbody>
            {% for controle in dados %}
                <tr>

                <td>{{ controle.operador }}</td>
                <td>{{ controle.operador.cracha }}</td>
                <td>{{ controle.userretirada }}</td>
                <td>{{ controle.dtretirada }}</td>
                <td>{{ controle.dtentrega }}</td>
                <td>{{ controle.userentrega }}</td>
                <td>{{ controle.coletor.get_status_display }}</td>
                <td>{{ controle.observacao }}</td>


            {% endfor %}
            </tr>
            </tbody>
        </table>
    </div>
    <br>
 <a href="{% url 'listar_controles' %}" class="btn btn-primary">Voltar</a>
    {% endblock %}